In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN","NAME"], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
app_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
application_df[app_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df.APPLICATION_TYPE.value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_count[app_count < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_count[class_count < 1800].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

C:\Users\12626\anaconda3\envs\ml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(columns = application_cat)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\12626\AppData\Local\Temp\ipykernel_11844\3766499242.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Final Attempt
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("module_checkpoints/",exist_ok=True)
checkpoint_path = "module_checkpoints/weights.{epoch:05d}.hdf5"
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
cp_callback = ModelCheckpoint(filepath=checkpoint_path, verbose=1, save_weights_only=True, save_freq='epoch')

In [15]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=30,callbacks=[cp_callback])

Epoch 1/30
793/804 [============================>.] - ETA: 0s - loss: 46704.9688 - accuracy: 0.4936
Epoch 1: saving model to module_checkpoints\weights.00001.hdf5
804/804 [==============================] - 2s 1ms/step - loss: 46260.6367 - accuracy: 0.4936
Epoch 2/30
770/804 [===========================>..] - ETA: 0s - loss: 51310.7930 - accuracy: 0.4879
Epoch 2: saving model to module_checkpoints\weights.00002.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 50222.4648 - accuracy: 0.4900
Epoch 3/30
786/804 [============================>.] - ETA: 0s - loss: 13258.0967 - accuracy: 0.5145
Epoch 3: saving model to module_checkpoints\weights.00003.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 13437.7686 - accuracy: 0.5140
Epoch 4/30
793/804 [============================>.] - ETA: 0s - loss: 25068.3613 - accuracy: 0.4931
Epoch 4: saving model to module_checkpoints\weights.00004.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 25178.2480 - accuracy: 0.4932
Epoch 5/30
776/804 [===========================>..] - ETA: 0s - loss: 35163.2109 - accuracy: 0.5213
Epoch 5: saving model to module_checkpoints\weights.00005.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 34024.5469 - accuracy: 0.5194
Epoch 6/30
779/804 [============================>.] - ETA: 0s - loss: 32690.5605 - accuracy: 0.5097
Epoch 6: saving model to module_checkpoints\weights.00006.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 31685.6660 - accuracy: 0.5107
Epoch 7/30
803/804 [============================>.] - ETA: 0s - loss: 9785.8906 - accuracy: 0.5064
Epoch 7: saving model to module_checkpoints\weights.00007.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 9775.6621 - accuracy: 0.5063
Epoch 8/30
780/804 [============================>.] - ETA: 0s - loss: 19438.7441 - accuracy: 0.5094
Epoch 8: saving model to module_checkpoints\weights.00008.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 19303.3672 - accuracy: 0.5102
Epoch 9/30
775/804 [===========================>..] - ETA: 0s - loss: 11800.6504 - accuracy: 0.5079
Epoch 9: saving model to module_checkpoints\weights.00009.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 11534.1387 - accuracy: 0.5072
Epoch 10/30
785/804 [============================>.] - ETA: 0s - loss: 15781.0039 - accuracy: 0.4966
Epoch 10: saving model to module_checkpoints\weights.00010.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 15440.7637 - accuracy: 0.4963
Epoch 11/30
801/804 [============================>.] - ETA: 0s - loss: 20304.3750 - accuracy: 0.4999
Epoch 11: saving model to module_checkpoints\weights.00011.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 20232.7480 - accuracy: 0.5003
Epoch 12/30
781/804 [============================>.] - ETA: 0s - loss: 6578.2388 - accuracy: 0.5321
Epoch 12: saving model to module_checkpoints\weights.00012.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 7799.4268 - accuracy: 0.5324
Epoch 13/30
800/804 [============================>.] - ETA: 0s - loss: 11239.5762 - accuracy: 0.5113
Epoch 13: saving model to module_checkpoints\weights.00013.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 11190.4248 - accuracy: 0.5110
Epoch 14/30
790/804 [============================>.] - ETA: 0s - loss: 3410.4189 - accuracy: 0.5434
Epoch 14: saving model to module_checkpoints\weights.00014.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 5110.9043 - accuracy: 0.5438
Epoch 15/30
795/804 [============================>.] - ETA: 0s - loss: 8054.6587 - accuracy: 0.5305
Epoch 15: saving model to module_checkpoints\weights.00015.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 7970.4829 - accuracy: 0.5296
Epoch 16/30
774/804 [===========================>..] - ETA: 0s - loss: 5248.6079 - accuracy: 0.5017
Epoch 16: saving model to module_checkpoints\weights.00016.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 5124.8799 - accuracy: 0.5036
Epoch 17/30
776/804 [===========================>..] - ETA: 0s - loss: 8909.8330 - accuracy: 0.5321
Epoch 17: saving model to module_checkpoints\weights.00017.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 8698.0293 - accuracy: 0.5299
Epoch 18/30
767/804 [===========================>..] - ETA: 0s - loss: 7393.0078 - accuracy: 0.4904
Epoch 18: saving model to module_checkpoints\weights.00018.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 7060.7583 - accuracy: 0.4897
Epoch 19/30
797/804 [============================>.] - ETA: 0s - loss: 5892.3901 - accuracy: 0.5035
Epoch 19: saving model to module_checkpoints\weights.00019.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 5842.2607 - accuracy: 0.5040
Epoch 20/30
790/804 [============================>.] - ETA: 0s - loss: 1442.5027 - accuracy: 0.5235
Epoch 20: saving model to module_checkpoints\weights.00020.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 1423.8114 - accuracy: 0.5233
Epoch 21/30
767/804 [===========================>..] - ETA: 0s - loss: 1314.1028 - accuracy: 0.5246
Epoch 21: saving model to module_checkpoints\weights.00021.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 1255.2605 - accuracy: 0.5248
Epoch 22/30
782/804 [============================>.] - ETA: 0s - loss: 251.9981 - accuracy: 0.5331
Epoch 22: saving model to module_checkpoints\weights.00022.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 246.0050 - accuracy: 0.5323
Epoch 23/30
793/804 [============================>.] - ETA: 0s - loss: 83.2074 - accuracy: 0.5825
Epoch 23: saving model to module_checkpoints\weights.00023.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 82.0907 - accuracy: 0.5833
Epoch 24/30
779/804 [============================>.] - ETA: 0s - loss: 0.6310 - accuracy: 0.6523
Epoch 24: saving model to module_checkpoints\weights.00024.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6305 - accuracy: 0.6529
Epoch 25/30
786/804 [============================>.] - ETA: 0s - loss: 0.6248 - accuracy: 0.6624
Epoch 25: saving model to module_checkpoints\weights.00025.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6246 - accuracy: 0.6627
Epoch 26/30
772/804 [===========================>..] - ETA: 0s - loss: 0.6303 - accuracy: 0.6637
Epoch 26: saving model to module_checkpoints\weights.00026.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6299 - accuracy: 0.6643
Epoch 27/30
801/804 [============================>.] - ETA: 0s - loss: 0.6229 - accuracy: 0.6668
Epoch 27: saving model to module_checkpoints\weights.00027.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6228 - accuracy: 0.6669
Epoch 28/30
796/804 [============================>.] - ETA: 0s - loss: 0.6213 - accuracy: 0.6703
Epoch 28: saving model to module_checkpoints\weights.00028.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6213 - accuracy: 0.6704
Epoch 29/30
774/804 [===========================>..] - ETA: 0s - loss: 0.6292 - accuracy: 0.6590
Epoch 29: saving model to module_checkpoints\weights.00029.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6292 - accuracy: 0.6589
Epoch 30/30
797/804 [============================>.] - ETA: 0s - loss: 0.6256 - accuracy: 0.6617
Epoch 30: saving model to module_checkpoints\weights.00030.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.6251 - accuracy: 0.6624

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.8622 - accuracy: 0.7083 - 374ms/epoch - 1ms/step
Loss: 0.8621637225151062, Accuracy: 0.70833820104599

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityfinal.h5")